/********** General ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

/*************** Header *****************/

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    align-items: center;
    font-size: 20px;
    transition: all .3s;
}

header:hover {
    background-color: white;
}

header:hover  a , header:hover select{
    color: black;
}

header:hover .logo, header:hover svg {
    filter: invert(100%);
}

header ul .option > a {
    display: flex;
    height: 80px;
    align-items: center;
    }

header .icon {
    width: 30px;
    height: 30px;   
}

header .logo {
    width: 150px;
}

header > ul {
    display: flex;
    gap: 40px;
}

header select {
    border:none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    width: fit-content;
    outline: none;
    cursor: pointer;
}

header div {
    display: flex;
    align-items: center;
    gap: 20px;
}

header svg {
    cursor: pointer;
}

header .option {
    position: relative;
}

header .option:hover::after {
    position: absolute;
}

header .option::after {
    content: "";
    bottom: 18px;
    width: 100%;
    height: 3px;
    background-color: black;
}

header .option:hover > .suboptions {
    display: flex;
}

header .suboptions {
    position: absolute;
    padding: 18px;
    background-color: white;
    flex-direction: column;
    display: none;
    gap: 20px;
    width: max-content;
}

header .suboptions a {
    color: black;
}

/*************** Home *****************/

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home .sliderMove {
    display: flex;
    width: 300%;
    height: 100%;
    transform: translateX(calc(-100%/3));
}

.home .sliderMove .box {
    width: calc(100% / 3);
    height: 100%;
    background-size: 100% 100%;
}

.home .sliderMove a {
    width: 100%;
    height: 100%;
    display: block;
}

.home .sliderMove .box.one {
    background-image: url("../../rg/img/HOME-SLIDER_PC_MOIXX_15556bf0-873b-4b97-9218-3f11533db83a.webp");
}

.home .sliderMove .box.two {
    background-image: url("../../rg/img/HOME-SLIDER_PC_MOIXX_620f6329-7a0d-4ee0-b047-67fcce31e105.webp");
}

.home .sliderMove .box.tree {
    background-image: url("../../rg/img/HOME-SLIDER_PC_MOIXX_84cc520c-a977-471d-aa9c-61ccfb8b5638.webp");
}

.home .cont-buttons {
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.home .cont-buttons button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;    
}


.home .cont-buttons button:first-child {
    background-color: white;
}

/************ Marquee **************/
@keyframes train {
    100% {
        transform: translateX(-50%);
    }
}
.cont-marque {
    width: 100%;
    overflow-x: hidden;
}

.marque {   
    width: 200%;
    background-color: lightcoral;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    animation: train infinite 10s linear;
}

/*************** categorias ****************/
.categorias .box-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.categorias .card {
    position: relative;
    height: 430px;
    overflow: hidden;
    cursor: pointer;
}

.categorias .card:hover > img {
    transform: scale(1.05);
}

.categorias .card:hover > div {
    bottom: 40px;
}

.categorias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
    user-select: none;
    -webkit-user-drag: none;
}

.categorias .card > div {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    color: white;
    font-size: 28px;
    width: 60%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition: bottom .4s;
}

.categorias .card a {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    margin: auto;
    margin-top: 15px;
    display: block;
    width: fit-content;
}

.categorias .banner {
    width: 100%;
    background: rgb(158, 29, 29);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    padding: 60px 20px;
}

.categorias .banner a {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
}

.categorias .banner h2 {
    margin: 10px 0 50px 0;
    font-size: 60px;
}


/*********** Arrivals ************/
.arrivals {
    width: 100%;
    padding: 80px 0;
}

.top {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top a { 
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.arrivals .slider {
    margin: auto;
    overflow: hidden;
    width: 90%;
    position: relative;
}

.arrivals .sliderMove {
    display: flex;
    gap: 15px;
    width: 400%;
    transition: transform .5s;
}

.arrivals .item {
    width: calc((100% / 12) - 15px);
    height: 500px;
}

.arrivals .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrivals .cont-barras {
    display: flex;
    width: 70%;
    height: 10px;
    margin: auto;
    margin-top: 20px;
}

.arrivals .barras {
    flex: 1;
    cursor: pointer;
    height: 100%;
    border-top: 5px solid #c9c9c9;
    transition: border-color .4s;
}

.arrivals .barras:first-child {
    border-color: gray;
}

.arrivals .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.arrivals .arrow.left {
    left: 40px;
    opacity: 0;
}
.arrivals .arrow.right {
    right: 40px;
}

/************* Subscricción ************/
.subscripcion {
    width: 100%;
    background-color:rgb(213, 214, 114);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    gap: 30px; 
}

.subscripcion h2 {
    font-size: 40px;
}

.subscripcion p {
    font-size: 20px;
}

.subscripcion div {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 20px;
}
.subscripcion input {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.subscripcion img {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

/*************** Footer ****************/
footer {
    width: 100%;
    display: flex;
    flex-direction: column; 
    padding: 40px 5%;
    gap: 50px;
}

footer .cont-info {
    display: flex;
    gap: 100px;
}

footer .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .info a {
    color: black;
}

footer .foot {
    display: flex;
    justify-content: space-between;
}

footer .foot ul {
    display: flex;
    gap: 10px;
}

footer .libro {
    width: 250px;
}

footer .info:last-child {
    align-items: center;
}

footer .foot select {
    border: none;
}

footer .redes img{
    margin-left: 30px;
    width: 22px;
    height: 22px;
}